.candidate-list {
    padding: 20px;
}

.candidate-list table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    border: 1px solid #FFCCCC;
    min-width: 800px;
  }

  .table-wrapper {
    overflow-x: auto;
    max-height: 370px; /* Adjust to your needs */
  }  
  
  .candidate-list th, td {
    border-bottom: 1px solid #FFCCCC;
    padding: 1rem;
    text-align: center;
  }

  .candidate-list th img {
    width: 24px;
    height: 24px;
  }

  .candidate-list td a {
    color: #e30022;
    text-decoration: none;
  }

  .candidate-list th {
    background-color: #FFCCCC;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .open-profile {
    background: #1B204A;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
  }

  .remove {
    background: #e30022;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .summary-cards {
    display: flex;
    gap: 5rem;
    margin-bottom: 1rem;
  }
  
  .summary-cards .card {
    flex: 1;
    padding: 1.5rem;
    border-radius: 12px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #FFCCCC;
  }
  
  .summary-cards .card:nth-child(1) {
    background: #FFF3EE;
  }
  
  .summary-cards .card:nth-child(2) {
    background: #EEF6FF;
  }
  
  .summary-cards .card:nth-child(3) {
    background: #FDF2F8;
  }
  
  .summary-cards .card h4 {
    margin: 0;
    font-size: 1rem;
    color: #1B204A;
  }
  
  .summary-cards .card .number {
    font-size: 2rem;
    font-weight: 700;
    color: #1B204A;
    margin: 0.3rem 0;
  }
  
  .summary-cards .card .detail {
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .summary-cards .card:nth-child(1) .detail {
    color: #FF4D4D;
  }
  
  .summary-cards .card:nth-child(2) .detail {
    color: #007BFF;
  }
  
  .summary-cards .card:nth-child(3) .detail {
    color: #E91E63;
  }  

  .candidate-list-header {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .search-candidate {
    position: relative;
    margin-left: 10px;
  }
  
  .search-candidate input {
    padding: 8px 30px 8px 12px;
    border: 1px solid #FFCCCC;
    border-radius: 6px;
    font-size: 14px;
  }

  ::placeholder {
    color: #F08080;
  }
  
  .search-candidate img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }

  .candidate-list-header img {
    width: 20px;
    height: 20px;
  }

  .add-job {
    background: #e30022;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    border-radius: 5px;
    width: 300px;
  }